---
import AboutUs from '../components/AboutUs.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Free - Landing Page">
  <Navbar />
  <main>
    <Hero />
    <AboutUs />
    <Services />
  </main>
</Layout>
