---
import AboutUs from '../components/AboutUs.astro';
import Contact from '../components/Contact.astro';
import CTA from '../components/CTA.astro';
import Faq from '../components/Faq.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Team from '../components/Team.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Free - Landing Page">
  <div class="bg-base-100">
    <main>
      <Hero />
      <AboutUs />
      <Services />
      <Testimonials />
      <CTA />
      <Team />
      <Contact />
      <Faq />
    </main>
  </div>
</Layout>
