<ul class="flex w-96 flex-col gap-2 rounded-md *:rounded-md *:p-3 *:shadow-sm *:shadow-base-300/20" >
  <li class="bg-base-100 intersect:motion-scale-in-0 intersect:motion-opacity-in-0 origin-top">
    <div class="flex w-full items-center gap-2">
      <span class="icon-[tabler--brand-whatsapp] text-success size-6"></span>
      New Message(13)
    </div>
  </li>
  <li class="origin-to intersect:motion-delay-[500ms] bg-base-100 intersect:motion-scale-in-0 intersect:motion-opacity-in-0" >
    <div class="flex w-full items-center gap-2">
      <span class="icon-[tabler--brand-uber] text-base-content size-6"></span>
      Your ride is waiting outside
    </div>
  </li>
  <li class="origin-to intersect:motion-delay-[1000ms] bg-base-100 intersect:motion-scale-in-0 intersect:motion-opacity-in-0" >
    <div class="flex w-full items-center gap-2">
      <span class="icon-[tabler--brand-amazon] text-warning size-6"></span>
      You forget something in your cart
    </div>
  </li>
  <li class="origin-to intersect:motion-delay-[1500ms] bg-base-100 intersect:motion-scale-in-0 intersect:motion-opacity-in-0" >
    <div class="flex w-full items-center gap-2">
      <span class="icon-[tabler--brand-netflix] text-error size-6"></span>
      New series just dropped
    </div>
  </li>
</ul>